html {
  font-family: get-font-family(lato);
  color: get-color(gray);

  // Safari 8 has a flickering text issue with the cool link hovers. Either
  // the hovers are removed, or everybody gets font-smoothing...
  @include font-smooth();
}

a {
  color: get-color(light-blue);
  text-decoration: none;
}

p a {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
    transition: transform 180ms ease-out;
    transform: translateY(95%);
  }
}

a:visited {
  color: get-color(purple);

  html.new & {
    color: get-color(light-blue);
  }
}

p a:hover,
p a:focus {
  outline: none;

  &::after {
    transform: translateY(0);
  }
}

a:active {
  color: get-color(dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: get-color(dark-gray);
  font-weight: 300;

  a {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 2px;
      background-color: hsl(0, 0%, 90%);
      transition: transform 180ms ease-out;
      transform: translateX(-100%);
    }
  }

  a:hover,
  a:focus {
    outline: none;

    &::after {
      transform: translateX(0);
    }
  }

  code {
    color: inherit;
  }
}

h1 {
  font-size: 1.625em;
  margin-top: .83em;
  margin-bottom: .83em;
}

h2 {
  font-size: 1.375em;
  margin-top: .6em;
  margin-bottom: .6em;
}

p {
  margin: 1em 0;
}

.markdown-body {
  line-height: 1.6;
}

// Inline code blocks
code {
  font-family: get-font-family(code);
}

:not(pre) > code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  color: get-color(black);
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}


// TODO doesn't really belong here
.module > :last-child,
.module > :last-child > :last-child {
  margin-bottom: 0;
}


@include breakpoint(sm, true) {h1 {
  font-size: 1.625em;
  margin-top: .83em;
  margin-bottom: .83em;
}

h2 {
  font-size: 1.375em;
  margin-top: .6em;
  margin-bottom: .6em;
}

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: .875em;
  }
}

@include breakpoint(sm) {

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.875em;
  }

  p {
    font-size: 1.25em;
  }
}
