.title::after {
  content: '|';
  @apply relative;
  top: -0.125em;
  margin-left: -0.125em;
  animation: cursor-blink 0.8s linear infinite;
  @apply text-gray-800;
}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
