.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown pre[class*='language-'] {
  @apply rounded-none;
  --container-padding: theme('padding.5');
  --offset: calc(var(--container-padding) * -1);
  margin-left: var(--offset);
  margin-right: var(--offset);
  --padding: var(--container-padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
}

@media (min-width: 640px) {
  .markdown pre[class*='language-'] {
    --offset: calc((100vw - 640px) / -2 - var(--container-padding));
    --padding: calc((100vw - 640px) / 2 + var(--container-padding));
  }
}

@media (min-width: 768px) {
  .markdown pre[class*='language-'] {
    --offset: calc((100vw - 768px) / -2 - var(--container-padding));
    --padding: calc((100vw - 768px) / 2 + var(--container-padding));
  }
}

@media (min-width: 1024px) {
  .markdown pre[class*='language-'] {
    --offset: calc((100vw - 1024px) / -2 - var(--container-padding));
    --padding: calc((100vw - 1024px) / 2 + var(--container-padding));
  }
}

@media (min-width: 1280px) {
  .markdown pre[class*='language-'] {
    --offset: calc((100vw - 1280px) / -2 - var(--container-padding));
    --padding: calc((100vw - 1280px) / 2 + var(--container-padding));
  }
}
