.page-header {
  background-color: get-color(light-gray);
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav__link + .page-nav__link {
  margin-left: .5rem;
}

.page-nav__link {
  padding: .5rem 0;

  &:visited {
    color: get-color(light-blue);
  }

  &:hover {
    color: get-color(odopink);

    .polygon__shape {
      fill: get-color(odopink);
    }

    .polygon__shape:nth-child(2) {
      fill: hsl(335, 71%, 65%);
    }

    .polygon__shape:nth-child(3) {
      fill: hsl(335, 62%, 60%);
    }

    .polygon__shape:nth-child(4) {
      fill: hsl(335, 76%, 40%);
    }

    .polygon__shape:nth-child(5) {
      fill: hsl(335, 71%, 45%);
    }

    .polygon__shape:nth-child(6) {
      fill: hsl(335, 46%, 45%);
    }

    .polygon__shape:nth-child(7) {
      fill: hsl(335, 50%, 70%);
    }

    .polygon__shape:nth-child(8) {
      fill: lighten(get-color(odopink), 10%);
    }

    .polygon__shape:nth-child(9) {
      fill: darken(get-color(odopink), 4%);
    }

    .polygon__shape:nth-child(10) {
      fill: lighten(get-color(odopink), 12%);
    }

    .polygon__shape:nth-child(11) {
      fill: darken(get-color(odopink), 10%);
    }

    .polygon__shape.cutout {
      fill: get-color(light-gray);
    }
  }

  .polygon,
  .page-nav__link-text {
    display: inline-block;
    vertical-align: middle;
  }

  .polygon {
    width: 24px;
    height: 24px;
  }

  .polygon__shape,
  .page-nav__link-text {
    transition: 100ms ease-out;
  }

  .polygon__shape.cutout {
    fill: get-color(light-gray);
  }
}

@include breakpoint(sm) {

  .page-nav__link .polygon {
    width: 32px;
    height: 32px;
  }
}

@include breakpoint(md) {

  .page-nav__link .polygon {
    width: 48px;
    height: 48px;
  }
}

@include breakpoint(lg) {

  .page-nav__link .polygon {
    width: 56px;
    height: 56px;
  }
}
