.post {
  overflow: hidden;
}

.code-block {
  position: relative;
  overflow: visible;
  margin-left: calc(-2vw - #{($grid-gutter-width / 2)});
  margin-right: calc(-2vw - #{($grid-gutter-width / 2)});

  pre {
    position: relative;
    z-index: 1;
    padding-left: calc(2vw + #{($grid-gutter-width / 2)});
    padding-right: calc(2vw + #{($grid-gutter-width / 2)});
  }
}

@media (min-width: $viewport-at-max-mobile-grid-width)
  and (max-width: map-get($breakpoints, sm) - 1px) {

  .code-block {
    margin-left: calc(((100vw - #{$grid-max-width-mobile}) / -2) - #{$grid-gutter-width / 2});
    margin-right: calc(((100vw - #{$grid-max-width-mobile}) / -2) - #{$grid-gutter-width / 2});

    pre {
      padding-left: calc(((100vw - #{$grid-max-width-mobile}) / 2) + #{$grid-gutter-width / 2});
      padding-right: calc(((100vw - #{$grid-max-width-mobile}) / 2) + #{$grid-gutter-width / 2});
    }
  }
}

@include breakpoint(sm) {

  .code-block {
    margin-left: calc(-3.25vw - #{($grid-gutter-width / 2)});
    margin-right: calc(-3.25vw - #{($grid-gutter-width / 2)});

    pre {
      position: relative;
      z-index: 1;
      padding-left: calc(3.25vw + #{($grid-gutter-width / 2)});
      padding-right: calc(3.25vw + #{($grid-gutter-width / 2)});
    }
  }
}

@include breakpoint(md) {

  .code-block {
    margin-left: calc(-3.5vw - #{($grid-gutter-width / 2)});
    margin-right: calc(-3.5vw - #{($grid-gutter-width / 2)});

    pre {
      position: relative;
      z-index: 1;
      padding-left: calc(3.5vw + #{($grid-gutter-width / 2)});
      padding-right: calc(3.5vw + #{($grid-gutter-width / 2)});
    }
  }
}

@media (min-width: $viewport-at-max-grid-width) {

  .code-block {
    margin-left: calc(((100vw - #{$grid-max-width}) / -2) - #{$grid-gutter-width / 2});
    margin-right: calc(((100vw - #{$grid-max-width}) / -2) - #{$grid-gutter-width / 2});

    pre {
      padding-left: calc(((100vw - #{$grid-max-width}) / 2) + #{$grid-gutter-width / 2});
      padding-right: calc(((100vw - #{$grid-max-width}) / 2) + #{$grid-gutter-width / 2});
    }
  }
}

.edit-on-github {
  display: inline-block;
  padding: 2px 8px 2px 26px;
  background-color: get-color(light-gray);
  background-image: url(/assets/github-mark.svg);
  background-size: 16px;
  background-position: 6px 48%;
  background-repeat: no-repeat;
  border-radius: 3px;
  color: get-color(dark-gray);

  &:hover,
  &:focus {
    background-color: darken(get-color(light-gray), 5%);
  }
}
