.post {
  overflow: hidden;
}

.code-block {
  position: relative;
  overflow: visible;

  pre {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    margin-left: -50vw;
    background-color: get-color(code-background);
  }
}

.edit-on-github {
  display: inline-block;
  padding: 2px 8px 2px 26px;
  background-color: get-color(light-gray);
  background-image: url(/assets/github-mark.svg);
  background-size: 16px;
  background-position: 6px 48%;
  background-repeat: no-repeat;
  border-radius: 3px;
  color: get-color(dark-gray);

  &:hover,
  &:focus {
    background-color: darken(get-color(light-gray), 5%);
  }
}
