.site-intro__title {
  margin-top: -.25em;
  margin-bottom: 0;
  font-family: get-font-family(code);

}

.site-intro__title::after {
  content: "|";
  position: relative;
  top: -4px;
  margin-left: -4px;
  animation: cursor-blink 0.8s linear infinite;
  color: get-color(dark-gray);
}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.site-intro__description {
  margin-top: 0;
}

.post-list {

}

.post-list__post + .post-list__post {
  margin-top: 2em;
}

.post-list__post-title {
  margin-top: 0;
  margin-bottom: .2em;

  & + p {
    margin-top: 0;
  }
}
